@{
    ViewBag.Title = "Giới Thiệu";
}

<link href="~/Content/css/Home/home-main.css" rel="stylesheet" />
<link href="~/Content/css/Product/products-main.css" rel="stylesheet" />
<link href="~/Content/css/Product/products-list.css" rel="stylesheet" />

<style>
    body {
        background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?w=2000);
    }
</style>

<div class="box-title" style="background: #ea1c00 !important;">
    <h1 class="text-center title-about">Giới Thiệu</h1>
</div>
<div class="container">
    <div class="">
        <h2 style="text-transform: uppercase; font-weight: 600; color: #ffc107;" class="text-center">
            Trường Đại Học Ngoại Ngữ Tin Học Thành Phố Hồ Chí Minh
        </h2>
        <h2 style="text-transform: uppercase; font-weight: 600; color: #55A845;" class="text-center">
            Đề tài: QUẢN LÝ WEBSITE BÁN MÁY TÍNH VÀ THIẾT BỊ MÁY TÍNH
        </h2>
    </div>

    <!-- end section product 1 -->
    <div class="container1">
        <div class="title-info">
            <h2>
                @*<img src="https://cdn-icons-png.flaticon.com/512/3048/3048709.png" width="50" alt="hot">*@
                <b>Giảng Viên Hướng Dẫn</b>
                @*<img src="https://cdn-icons-png.flaticon.com/512/3048/3048709.png" width="50" alt="hot">*@
            </h2>
            <div class="row mt-5 d-flex justify-content-between" style="">
                <div class="col-md-4 mt-2">
                   
                </div>
                <div class="col-md-4 mt-2">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <div class="card_img">
                                    <img src="~/Content/images/thayThanh.png"
                                         alt="" class="img-fluid">
                                </div>
                                <h5><b>ThS. Phạm Đức Thành </b></h5>
                                <p>Môn: Cơ Sở Dữ Liệu Nâng Cao</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    
                </div>
            </div>
        </div>
    </div>
    <!--end Card info-->
    <!-- end section product 1 -->
    <div class="container1">
        <div class="title-info">
            <h2>
                <img src="https://cdn-icons-png.flaticon.com/512/1534/1534959.png" width="50" alt="hot">
                <b>Nhóm 17 - <p style="color: orangered; display: inline-block;">TDH</p></b>
                <img src="https://cdn-icons-png.flaticon.com/512/1534/1534959.png" width="50" alt="hot">
            </h2>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <div class="card_img">
                                <img src="~/Content/images/quocduy.jpeg"
                                     alt="" class="img-fluid">
                            </div>
                            <h5><b>Nguyễn Quốc Duy</b></h5>
                            <p>20DH111472</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 d-flex justify-content-between" style="">
                <div class="col-md-4 mt-2">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <div class="card_img">
                                    <img src="~/Content/images/Thanh-min.jpg"
                                         alt="" class="img-fluid">
                                </div>
                                <h5><b>Mai Trí Thành</b></h5>
                                <p>20DH110819</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="card border-0 ">
                        <div class="box">
                            <div class="content">
                                <div class="card_img">
                                    <img src="~/Content/images/minhhuy.jpeg"
                                         alt="" class="img-fluid">
                                </div>
                                <h5><b>Lê Minh Huy</b></h5>
                                <p>20DH112003</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end Card info-->
</div>