@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/css/Contact/Lienhe.css" rel="stylesheet" />

<div class="Hotro-client">
    <div class="hotro-client-bg"></div>
    <div class="hotro-client-top">
        <div class="hotro-client-inner">
            <div class="hotro-client-box">
                <div class="Duonglink">
                </div>
                <div class="Hotro">
                    <div class="content">
                        <h3 class="Hotro-online">Hỗ trợ Online</h3>
                        <ul class="Hotro-list">
                            <li class="Hotro-list-item">
                                <a class="Hotro-item-link" href="#">
                                    <img class="Hotro-img" src="~/Content/images/img-support-1.png">
                                    <div class="Hotro-info">
                                        <h5 class="hotro-name">Câu hỏi thường gặp</h5>
                                    </div>
                                </a>
                            </li>
                            <li class="Hotro-list-item">
                                <a class="Hotro-item-link" href="#">
                                    <img class="Hotro-img" src="~/Content/images/img-support-2.png">
                                    <div class="Hotro-info">
                                        <h5 class="hotro-name">Video CSKH</h5>
                                    </div>
                                </a>
                            </li>
                            <li class="Hotro-list-item">
                                <a class="Hotro-item-link" href="#">
                                    <img class="Hotro-img" src="~/Content/images/img-support-3.png">
                                    <div class="Hotro-info">
                                        <h5 class="hotro-name">Cộng Đồng Vtel giải đáp Online</h5>
                                    </div>
                                </a>
                            </li>
                            <li class="Hotro-list-item">
                                <a class="Hotro-item-link" href="#">
                                    <img class="Hotro-img" src="~/Content/images/img-support-4.png">
                                    <div class="Hotro-info">
                                        <h5 class="hotro-name">Chat Online</h5>
                                    </div>
                                </a>
                            </li>
                            <li class="Hotro-list-item">
                                <a class="Hotro-item-link" href="#">
                                    <img class="Hotro-img" src="~/Content/images/img-support-5.png">
                                    <div class="Hotro-info">
                                        <h5 class="hotro-name">Tìm Kiếm cửa hàng</h5>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hotro-service">
    <div class="content" style="max-width: 100%;
            margin: 0 auto;
            width: 1170px;
            padding-left: 15px;
            padding-right: 15px;">
        <h3 class="Hotro-online" style="color:white">Hỗ trợ dịch vụ</h3>
        <ul class="Hotro-service-list">
            <li class="Hotro-service-item">
                <span class="hotro-icon"><img src="~/Content/images/ic-feedback.png"></span>
                <div class="hotro-service-info">
                    <h5 class="hotro-service-name"><a href="#">Góp ý sản phẩm dịch vụ</a></h5>
                </div>
            </li>
            <li class="Hotro-service-item">
                <span class="hotro-icon"><img src="~/Content/images/ic-guarantee.png"></span>
                <div class="hotro-service-info">
                    <h5 class="hotro-service-name"><a href="#">Tra cứu bảo hành</a></h5>
                </div>
            </li>
            <li class="Hotro-service-item">
                <span class="hotro-icon"><img src="~/Content/images/ic-security.png"></span>
                <div class="hotro-service-info">
                    <h5 class="hotro-service-name"><a href="#">Điều khoản sử dụng và chính sách bảo hành</a></h5>
                </div>
            </li>
            <li class="Hotro-service-item">
                <span class="hotro-icon"><img src="~/Content/images/ic-roaming.png"></span>
                <div class="hotro-service-info">
                    <h5 class="hotro-service-name"><a href="#">Tra cứu roaming</a></h5>
                </div>
            </li>
        </ul>
    </div>
</div>

<address>

</address>

<address>
</address>