@model IEnumerable<VTel.Models.DONHANG>

@{
    ViewBag.Title = "QuanLyDonHangKhachHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/Management/main.css" rel="stylesheet" />
<script src="~/Content/js/jquery.min.js"></script>
<link href="~/Content/css/b4/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/js/Table.js"></script>

<div style="margin-top: 100px; margin-bottom: 110px; display: block;" class="icon-card container">
    <table class="table table-striped" id="example" style="width: 100%; max-width: 100%">
        <thead>
            <tr class="text-green" style="text-align:center;">
                <th>
                    Ngày Đặt
                </th>

                <th>
                    Địa Chỉ Giao
                </th>
                <th>
                    Số Điện Thoại
                </th>
                <th>
                    Họ Tên
                </th>
                <th>Trạng Thái</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYDAT)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DIACHIGIAOHANG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDTKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KHACHHANG.HOTENKH)
                </td>
                <td>
                    <div style="background: #55A845; text-align: center; border-radius: 15px; ">
                        <p style="color: #fff; padding: 5px;">Đặt Thành Công</p>
                    </div>
                </td>
            </tr>
        }
        <tfoot>
            <tr class="text-green" style="text-align:center;">
                <th>
                    Ngày Đặt
                </th>

                <th>
                    Địa Chỉ Giao
                </th>
                <th>
                    Số Điện Thoại
                </th>
                <th>
                    Họ Tên
                </th>
                <th>Trạng Thái</th>
            </tr>
        </tfoot>
    </table>

</div>

<script src="~/Content/js/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="~/Content/js/jquery.dataTables.min.js"></script>